body{
    background: orange;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}
.buttonBox{
    float:left;
    //border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 33.333vw;
}