@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Rubik+Doodle+Shadow&display=swap');

body{
    font-family: 'Rubik Doodle Shadow';
    background:
}
.container{
    width: 95%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.hex-colors{
    text-align: center;
}
.hex-colors h1{
    font-size: 4rem;
    margin-bottom: 10%;
}

.hex-colors h2{
    font-size: 2rem;
    margin-top: 10%;
}

@media(max-width: 500px){
    .hex-colors h1{
        font-size: 1.5rem;
    }
    .hex-colors h2{
        font-size: 1.5rem;
    }
}
